.menu{
    position: fixed;
    border-radius: 50%;
    overflow: hidden;
    z-index: 10;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.menuAfter{
    display:block;
    position: absolute;
    left: 50%;
    top:50%;
    border-radius: 50%;
    z-index:10;
    color: transparent;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hull{
    position: relative;
    width: fit-content;
}
.child{
    user-select: none;
}
.inCircle{
    position: absolute;
    width: 30%;
    height: 30%;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    background: #222222;
    opacity: 0.1;
}